
*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(https://picsum.photos/1600/900);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.conteiner {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-bottom: 30px;
    transition: opacity 0.5s ease-in-out;
}

button:hover {
    opacity: 0.7;   
}

.buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

#rock {
    background-color: rgb(172, 21, 172);
}

#paper {
    background-color: rgb(50, 189, 50);
}

#scissors {
    background-color: rgb(38, 38, 180);
    
}

p {
    font-weight: bold;
    margin-bottom: 10px;
}

.your-score span {
    color: blue;
}

.machine-score span {
    color: red;
}